.navbar {
    background-color: #507DBC !important;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 200;
}

.description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* number of lines to show */
    -webkit-box-orient: vertical;
}

.card {
    border-bottom: 7px solid #507DBC;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3) !important;
    border-radius: 8px;
    padding: 5px 5px 5px 0;
}

button {
    border-color: #fff !important;
    background-color: #507DBC !important;
    color: #fff !important;
    transition: all ease .7s;
    padding: 2px 10px;
}

button:hover {
    border-color: #507DBC !important;
    color: #000 !important;
    transition: all ease .7s;
    background-color: transparent !important;
}

body {
    background-color: #C7CEDB;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #C7CEDB;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #507DBC;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #4c77b3;
}


.name {
    font-weight: 600 !important;
}

.brand {
    text-transform: uppercase;
}


.detailDiv {
    margin-top: 100px;
}

.detailDiv img {
    width: 500px;
    height: 520px;
    object-fit: cover;
}

.name-detail {
    font-size: 30px;
}
.brand-detail{
    text-transform: uppercase;
    font-size: 25px;

}
.price-detail {
    font-size: 20px;
    text-align: left !important;
    font-weight: 600;
}

.detail-description {
    text-align: left !important;
}

.success,
.error {
    width: 500px;

}

.alert-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.update{
    background-color: green!important;
}
.delete{
    background-color: red!important;
}




